@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
 @apply bg-neutral-100 text-black;
}

.dark {
 @apply bg-black text-white;
}

#tweetBox,
#readOnly {
 -webkit-user-modify: read-write-plaintext-only;
}

.hide-scroll {
 overflow: hidden !important;
}

.boxShadow {
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px, rgba(0, 0, 0, 0.1) 0px 0px 3px 1px;
}

.boxShadow:is(.dark .dark\:bg-black) {
 box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
  rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:is(.dark .dark\:bg-black) {
 -webkit-box-shadow: 0 0 0px 1000px black inset;
}

.triangle {
 width: 20px;
 height: 20px;
 rotate: 180deg;
 filter: drop-shadow(rgb(199, 199, 200) 1px -1px 1px);
}

.triangle:is(.dark .dark\:fill-black) {
 filter: drop-shadow(rgb(56, 59, 62) 1px -1px 1px);
}

.transition-custom {
 transition: all 0.2s ease-in-out liner;
}

.threeImg > div:first-child > img {
 border-radius: 0 1rem 0 0;
}

.threeImg > div:last-child > img {
 border-radius: 0 0 1rem 0;
}

.fourImg > div:first-child > img {
 border-radius: 1rem 0 0 0;
}

.fourImg > div:nth-child(2) > img {
 border-radius: 0 1rem 0 0;
}

.fourImg > div:nth-child(3) > img {
 border-radius: 0 0 0 1rem;
}

.fourImg > div:last-child > img {
 border-radius: 0 0 1rem 0;
}

.imgModalMedia {
 animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
